@import 'mobile.css';
@import 'desktop.css';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --colorGeneral: hsl(300, 43%, 22%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    border-radius: 50%;
}

p,
h4 {
    font-size: 15px;
}

/* upper text // stars */
h1 {
    font-size: 3em;
    font-weight: 700;
    color: var(--colorGeneral);
}

.subtitle {
    color: hsl(303, 10%, 53%);
    margin-top: 1.5rem;
    line-height: 1.3rem;
    font-size: 1rem;
}

#estrellas {
    color: var(--colorGeneral);
}

.nombres {
    color: white;
}

.clientes {
    color: hsl(333, 80%, 67%);
}

#comentario {
    color: hsl(300, 24%, 96%);
    padding-top: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 15px;
}

li {
    background-color: hsl(300, 24%, 96%);
}

.cajaVioleta {
    background-color: var(--colorGeneral);
}

.order-box {
    display: flex;
    align-items: center;
}

.etiqueta {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 1.3rem;
}